body{
    font-size: 10px;
    margin-left: 30px;
    line-height: 15px;
    backface-visibility: hidden;
    background-color: antiquewhite;
}

@font-face {
    font-family: firstFont;
    src: url(CourierPrime-Regular);
}


.headerone{
    color: black;
    box-sizing: border-box;
    text-align: center;
    font-size: 3em;
    padding-top: 25px;
}

#headertwo{
    text-align: center;
    text-decoration: underline;
    color: black;
    box-sizing: border-box;
    padding-top: 15px;

}

hr{
    border-width: 5px;
    border-color: black;
}

#flexcontainer{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    color: black;
    font-family: firstFont;

}

#one{
    
    margin: 15px 20px 20px 15px;
    padding: 25px;
    width: 50%;
}

#two{
    margin: 15px 20px 20px 25px;
    padding: 25px;
    width: 25%;
}

#three{
    margin: 15px 20px 20px 25px;
    padding: 25px;
    width: 25%;
}

.divide{
    border-width: 3px;
}

#bold{
    font-weight: bolder;
    font-size: 20px;
    text-decoration: underline;
}

p{
    letter-spacing: 1.5px;
    
    
}

button{
    border: none;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    text-decoration: solid;
    font-size: 20px;
    padding: 15px;

}

button:hover{
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}

a{
    font-size: 20px;
    color: red;
}

a:hover{
    background-color: red;
}