body{
    font-size: 10px;
    margin-left: 30px;
}

.header1{
    color: black;
    box-sizing: border-box;
    
    text-align: center;
    font-size: 3em;
    padding-top: 25px;
}

#header2{
    text-align: center;
    
    color: black;
    box-sizing: border-box;
    padding-top: 15px;

}

hr{
    border-width: 5px;
    border-color: black;
}

#flexcontainer{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    color: black;
    text-align: left;
    width: 70%;
}

#one{
    
    margin: 15px 20px 20px 15px;
    padding: 25px;
}

#two{
    
    margin: 15px 20px 20px 25px;
    padding: 25px;
}

.divide{
    border-width: 3px;
}

#bold{
    font-weight: bolder;
    font-size: 15px;
}

p{
    letter-spacing: 2px;
}
