.header1{
    color: red;
    box-sizing: border-box;
    background-color: black;
    margin-bottom: 50px;
    text-align: center;
    font-size: 3em;
    padding-bottom: 25px;
    padding-top: 25px;
    font-family: ;
}
